{% load basic_filters %}
{% for field in form %}
	<div class="form-group row">
		<label for="example-search-input" class="col-2 col-form-label">{{ field.label }}</label>
		<div class="col-10">
			{{ field|addclass:'form-control' }}
		</div>
		<ul class="list-group">
			{% for err in field.errors %}
			<li class="list-group-item">{{ err }}</li>
			{% endfor %}
		</ul>
	</div>
{% endfor %}
{% if protected is not True %}
	{% if current_object is None %}
	<button type="submit" class="btn btn-primary">Создать элемент</button>
	{% else %}
	<button type="submit" class="btn btn-success">Изменить элемент</button>
	{% endif %}
{% else %}
    <div class="alert alert-danger" role="alert">
      Недостатчно прав для операции
    </div>
{% endif %}