<!DOCTYPE html>
<html>
<head>
	<title>EWHouse</title>
	<link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
	<div class="baselayer">
		<div class="center-wrapper">
			<label>EWHouse</label>
		</div>
	</div>
	<div class="baselayer">
		<div class="center-wrapper">
			<label>Hello, {{name}} {{lastname}}!</label>
  		<a href="/ewhouse/logout" class="logout-button">Logout</a>
		</div>
	</div>
	<div class="baselayer">
		<div class="column-container">
			<div class="column-container leftmost">
				<button type="button" class="selector-button">Make transaction</button> 
				<button type="button" class="selector-button">Devices</button> 
				<button type="button" class="selector-button">Type management</button> 
				<button type="button" class="selector-button">Warehouse reports</button> 
			</div>
			<div class="column-container center">
				Trolololo Trolololo Trolololo Trolololo Trolololo 
			</div>
			<div class="column-container rightmost">
				Kek kek kek Kek kek kek Kek kek kek Kek kek kek 
			</div>
		</div>
  	</div>
  	<div class="footer">
  		<div class="baselayer">
  			This is footer
  		</div>
  	</div>
</body>
</html>