<!doctype html>
<html lang="en">
  <head>
    <title>EWHouse</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="/static/css/sup-style.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
        $('#main-table').DataTable(
          {
            language: {
              "processing": "Подождите...",
              "search": "Поиск:",
              "lengthMenu": "Показать _MENU_ записей",
              "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
              "infoEmpty": "Записи с 0 до 0 из 0 записей",
              "infoFiltered": "(отфильтровано из _MAX_ записей)",
              "infoPostFix": "",
              "loadingRecords": "Загрузка записей...",
              "zeroRecords": "Записи отсутствуют.",
              "emptyTable": "В таблице отсутствуют данные",
              "paginate": {
                "first": "Первая",
                "previous": "Предыдущая",
                "next": "Следующая",
                "last": "Последняя"
              },
              "aria": {
                "sortAscending": ": активировать для сортировки столбца по возрастанию",
                "sortDescending": ": активировать для сортировки столбца по убыванию"
              }
            }
          });
      } );
    </script>

  {% include "upper_navbar.html" %}

    <div class="container">
      <div class="row justify-content-center mb-5" id="functions">
        <div class="btn-group" role="group" aria-label="Navigation">
          <a role="button" class="btn btn-light" href="/ewhouse/ops">Операции</a>
          <a role="button" class="btn btn-light" href="/ewhouse/inventory">Наличие</a>
          <button type="button" class="btn btn-light disabled">Склады</button>
          <button type="button" class="btn btn-light active">Библиотека</button>
        </div>
      </div>
      <div class="row justify-content-center mb-5" id="functions">
        <div class="btn-group" role="group" aria-label="Libraries">
          {% for f in libs %}
            <a role="button" class="btn btn-light{% if curlib == f %} active{% endif %}" href="{% if curobj is not None %}../{% endif %}{% if curlib is not None %}../{% endif %}{{ f.shortname }}/">
              {{ f.name }}
            </a>
          {% endfor %}
        </div>
      </div>
      {% load basic_filters %}
      {% if exc is not None %}
      <div class="row-mb-5" id="alert-exc">
        <div class="alert alert-{{ exc.0 }}" role="alert">
          {{ exc.1 }}
        </div>
      </div>
      {% endif %}
      {% if curlib is not None %}
      <div class="row mb-5" id="table-wrapper">
        <div class="col-sm-12">
          {% if curobj is not None %}
          <a class="btn btn-primary" href="{% if curobj is not None %}../{% endif %}">Добавить новый</a>
          {% endif %}
          <table class="table table-sm table-hover" id="main-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                {% for f in curlib.form %}
                  <th scope="col">{{ f.label }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for obj in curlib.objs %}
              <tr{% if obj == curobj %} class="table-active"{% endif %}>
                <th scope="row">{{forloop.counter}}</th>
                {% for f in curlib.form %}
                  {% with fname=f.name %}
                    <td>{{ obj|getmodelfield:fname }}</td>
                  {% endwith %}
                {% endfor %}
                <td><a href="{% if curobj is not None %}../{% endif %}{{obj.id}}/"><i class="material-icons">create</i></a></td>
                <td><a href="{% if curobj is not None %}../{% endif %}{{obj.id}}/delete/"><i class="material-icons">clear</i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mb-5" id="main_form">
        <div class="col-sm-12">
          <form method="post">{% csrf_token %}
            {% include "creation_form.html" with form=curlib.form current_object=curobj %}
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
