<!doctype html>
<html lang="en">
  <head>
    <title>EWHouse</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/sup-style.css"/>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <nav class="navbar fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/ewhouse/main">EWHouse</a>
        </div>
        <ul class="nav navbar-right list-inline">
          <li class="active"><p class="navbar-text mr-3">Logged as {{name}} {{lastname}} ({{email}})</a></li>
          <li class="list-inline-item"><a class="btn btn-danger navbar-btn" href="/ewhouse/logout">Logout</a></li>
        </ul>
      </div>    
    </nav>

    <div class="container">
      <div class="row justify-content-center" id="functions">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-light">Transactions</button>
          <button type="button" class="btn btn-light">Inventory</button>
          <button type="button" class="btn btn-light">Warehouses</button>
          <button type="button" class="btn btn-light">Library</button>
        </div>
      </div>
      <div class="row justify-content-center" id="current-function">
        <h2>Main page</h2>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Package name</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              {% for p in packages %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{p.name}}</td>
                <td>{{p.description}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>