<!doctype html>
<html lang="en">
  <head>
    <title>EWHouse - операции</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/sup-style.css"/>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    {% include "upper_navbar.html" %}

    <div class="container">    
      {% include "mode_selector.html" with cur_mode="ops" %}
      <div class="row justify-content-center mb-5" id="functions">
            {% include "ops_mode_selector.html" with mode="query" %}
      </div>
      {% if variants is not None %}
      <div class="row mb-5">
        {% for v in variants %}
          <div class="col-sm-3">Вариант {{ forloop.counter }}</div>
          <div class="col-sm-9">
            <ul class="list-group mb-3">
              {% for itm in v %}
              <li class="list-group-item  justify-content-between">
                {{ itm.location }}
                <span class="badge badge-success">{{ itm.count }}</span>   
                <span class="badge {% if itm.will_be_left == 0 %}badge-danger{% else %}badge-info{% endif %}">{{ itm.will_be_left }} останется</span>
              </li>
              {% endfor %}
          </div>
        {% empty %}
          <div class="alert alert-danger" role="alert">
            Не удалось подобрать варианты.
          </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="row mb-5" id="main_form">
        <div class="col-sm-12">
          <form method="post">{% csrf_token %}
            {% include "operations_form.html" with form=form %}
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
